<header class="main-header">
  <nav class="main-header-list">
      <a  routerLinkActive="active"routerLink="/weather">Home</a>
      <a routerLinkActive="active"  routerLink="/favorite-locations">Favorite</a>
      <a (click)="toggleDayNight()"><span [ngStyle]="{'color': isDayMode === true ? ' #214cc2' : '#607D8B'}">Day</span> / <span [ngStyle]="{'color': isDayMode === false ? ' #214cc2' : '#607D8B'}">Night</span></a>
      <a (click)="toggleCelsiusFahrenheit()"><span [ngStyle]="{'color': isCelsiusMode === true ? ' #214cc2' : '#607D8B'}">Celsius</span> / <span [ngStyle]="{'color': isCelsiusMode === false ? ' #214cc2' : '#607D8B'}">Fahrenheit</span></a>
  </nav>
</header>

<router-outlet *ngIf="!isError" ></router-outlet>

<div class="modal"   id="errorModal">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <div class="modal-header mx-auto">
            <h4 class="text-danger">ERROR</h4>
        </div>

        <div class="modal-body" > 
          <h3>{{err}}</h3>
        </div>

      </div>
  </div>
</div>
