<div *ngIf="loading else loading">
    <div *ngIf="weather$ | async as weatherData"  class="weatherBox"  > 
    
        <div class="icon" >
            <i class="far fa-star fa-2x" style="cursor: pointer;" *ngIf="weatherData.location.isFavorite == null || weatherData.location.isFavorite == false" (click)="addToFavorite(weatherData.location.id)"
            data-toggle="tooltip" title="Add to Favorite"></i>
            <i class="fa fa-star fa-2x" style="color: rgb(245, 245, 90);cursor: pointer;"
            data-toggle="tooltip" title="Remove from Favorite" *ngIf="weatherData.location.isFavorite != null && weatherData.location.isFavorite == true" (click)="removeFromFavorite(weatherData.location.id)"></i>
        </div>
        <div class="label-wrapper">
            <label class="big-label">{{weatherData.location.city}}, {{weatherData.location.country}}</label> 
        </div>
        <div class="label-wrapper ">
            <label class="big-label" >{{getTemperature(weatherData.location.celsius, weatherData.celsiusMode)}}  </label> 
        </div>
        <div class="small-img-wrapper">
            <img src="{{createIconURL(weatherData.location.icon)}}">   
        </div>
        <div class="label-wrapper">
            <label class="big-label"  >{{weatherData.location.info}}</label>
        </div>

        <div class="forecast" >
            <div *ngFor="let dayForecast of weatherData.location.fiveDaysForecast" class="daily-forecast flip-card" >
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <div class="label-wrapper">
                            <label >{{getDayName(dayForecast.date)}}</label>
                        </div>

                        <div class="label-wrapper">
                            <label > {{getTemperature(dayForecast.maxTemp, weatherData.celsiusMode)}}  </label> 
                        </div>

                        <div class="image-wrapper">
                            <img src="{{createIconURL(dayForecast.dayIcon)}}">   
                        </div>

                        <div class="label-wrapper">
                            <label >{{dayForecast.dayPhrase}}</label>
                        </div>
                    </div>

                    <div class="flip-card-back">
                        <div class="label-wrapper">
                            <label >{{getDayName(dayForecast.date)}}</label>
                        </div>
                        <div class="label-wrapper">
                            <label > {{getTemperature(dayForecast.minTemp, weatherData.celsiusMode)}}  </label> 
                        </div>
                        <div class="image-wrapper">
                            <img src="{{createIconURL(dayForecast.nightIcon)}}">   
                        </div>

                        <div class="label-wrapper">
                            <label >{{dayForecast.nightPhrase}}</label>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

</div>
</div>
<ng-template #loading >
    <app-loading-spinner ></app-loading-spinner>   
</ng-template>
