
* {
    box-sizing: border-box;
}
html{
    height: 100%;
}  

body {
    height:90%;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRPbhA4rbzKk9nu62Aiv10-1P_KROaR9v7HrA&usqp=CAU');
    background-size: cover;
}

main {
    padding: 1rem;
    margin: auto;
}
