.wrapper{
    overflow-y: auto;
    height: 100%;
    background-color: transparent;
}

.container{   
    display: flex;
    height:100%;
    width: 60%;
    justify-content: center;
}

.header{
    padding: 2rem;
    height: 80%;
    width: 80%;

}

input{
    background-color: transparent;
    border-width: 0 0 0 0;
    border-bottom: 3px solid black;
    padding: 5px;
    font-size: 1.5rem;
    width: 100%;
    
    color: rgb(48, 55, 77);
    transition: border-bottom-color 0.25s;
    text-align: center;
    position: relative;
}

input:focus {
    outline: none;
    border-bottom-color: black;
}


.spinner{
    height: 100px;
    width: 100px;
    margin: auto;
}




